<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashiCards v1.0</title>
    <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
</head>
<body class="bg-charcoal-green flex items-center justify-center min-h-screen">
    <!-- Main App Container -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col"
         style="width: 70vw; height: 80vh; max-width: 1250px; aspect-ratio: 9/6;">
         
        <!-- Top Bar -->
        {% include 'components/top_bar.html' %}

        <!-- Toolbar -->
        {% include 'components/toolbar.html' %}

        <!-- Main Content Area -->
        <div class="flex-grow overflow-y-auto">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        });
    </script>
</footer>
</html>
